In [56]:
# forcing Jupyter to show output for all operations in a shell and not just last one
# For current Jupyter notebook 
# ipython.readthedocs.org/en/stable/config/options/terminal.html 

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#  InteractiveShell.ast_node_interactivity = "last_expr" will revert to original

In [57]:
# making dataframe display with borders
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>

In [1]:
import pandas as pd
import sys
from pathlib import Path

In [5]:
! ls

04-Pandas_Instructions_HeroesOfPymoli_Resources_purchase_data.csv
Untitled.ipynb

In [6]:
# set path to read input file

data_folder = Path("") # input file in current directory no no folder path is empty
data_file = "04-Pandas_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"

file_to_read = data_folder / data_file

In [10]:
# read from csv file
df = pd.read_csv(file_to_read)
df.head()
df.info()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
Purchase ID    780 non-null int64
SN             780 non-null object
Age            780 non-null int64
Gender         780 non-null object
Item ID        780 non-null int64
Item Name      780 non-null object
Price          780 non-null float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.7+ KB

### __Player Count - Total number of players__

In [59]:
# displaying count of total players as dataframe
total_players = df.loc[:, 'SN'].count() # returns an integer

# printing as a table by converting to DataFrame
pd.DataFrame({'Total Players': total_players}, index =[0])

   Total Players
0            780

### Purchasing Analysis (Total)

In [53]:
# performing basic purchase analysis 
number_unique_items = df.loc[:, 'Item ID'].nunique()
average_purchase_price =  round(df.loc[:, 'Price'].mean(), 2)
total_number_of_purchases = len(df )
total_revenue = df.loc[:, 'Price'].sum()

# convert to a dataframe for tabular print
purchasing_analysis = pd.DataFrame({'Number of Unique Items':number_unique_items, 
                                    'Average Purchase Price': "$"+str(average_purchase_price), 
                                    'Total Number of Purchases':total_number_of_purchases, 
                                    'Total Revenue':"$"+str(total_revenue)}, index= [0])
purchasing_analysis

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,$2379.77

### Gender Demographics

In [123]:
# a few of below commands return pd.series data object which can be accessed like a list. 
#To get a specific value use [<integer index of the list item >] / or[<name index of the list item>]. using names
total_purchase_count_male = df.loc[df['Gender'] == 'Male', :].count()['SN']
average_purchase_price_male =  df.loc[df.loc[:,'Gender'] =='Male', ['Price']].mean()['Price']
total_purchase_value_male = df.loc[df.loc[:,'Gender'] =='Male', ['Price']].sum()['Price']
number_of_unique_male_players = df.loc[df.loc[:,'Gender'] =='Male', :].nunique()['SN']

total_purchase_count_female = df.loc[df['Gender'] == 'Female', :].count()['SN']
average_purchase_price_female =  df.loc[df.loc[:,'Gender'] =='Female', ['Price']].mean()['Price']
total_purchase_value_female = df.loc[df.loc[:,'Gender'] =='Female', ['Price']].sum()['Price']
number_of_unique_female_players = df.loc[df.loc[:,'Gender'] =='Female', :].nunique()['SN']

In [125]:
gender_demo_dict_male = [total_purchase_count_male, "$"+str(round(average_purchase_price_male,2)),
                         "$"+str(total_purchase_value_male), 
                         "$"+str(round(total_purchase_value_male/number_of_unique_male_players,2))]

gender_demo_dict_female = [total_purchase_count_female, "$"+str(round(average_purchase_price_female,2)),
                         "$"+str(total_purchase_value_female), 
                         "$"+str(round(total_purchase_value_female/number_of_unique_female_players,2))]


gender_demo_male = pd.DataFrame([gender_demo_dict_male,gender_demo_dict_female],  
                                index = ['Male', 'Female'], columns = ['Purchase Count', 'Average Purchase price',
                                         'Total Purchase Value', 'Average Purchase Total per Person' ] )
gender_demo_male

,Purchase Count,Average Purchase price,Total Purchase Value,Average Purchase Total per Person
Male,652,$3.02,$1967.64,$4.07
female,113,$3.2,$361.94,$4.47

In [95]:
df.loc[df['Gender'] == 'Male', :].count()['Price']

652

In [94]:
df.loc[df['Gender'] == 'Male', :].df['Price'].count()

AttributeError: 'DataFrame' object has no attribute 'df'

In [96]:
df.loc[df.loc[:,'Gender'] =='Male', ['SN']].nunique()

SN    484
dtype: int64

In [98]:
df.loc[df.loc[:,'Gender'] =='Male', ['Price']].mean()

Price    3.017853
dtype: float64

In [99]:
df.loc[df['Gender'] == 'Male', :].df['Price'].count()['SN']

AttributeError: 'DataFrame' object has no attribute 'df'

In [103]:
df.loc[df.loc[:,'Gender'] =='Male', ['Price']].sum()['Price']

1967.64

In [113]:
df.loc[df.loc[:,'Gender'] =='Male', ['SN']].nunique()['SN']

484

In [ ]:
gender_demo_dict_male ={'Male': 
                        [int(total_purchase_count_male), round(average_purchase_price_male,2),
                         total_purchase_value_male, 
                         round(total_purchase_value_male/number_of_unique_male_players,2)], 
                        }